@import "../base/extends";
@import "../base/listas";
@import "../base/variables";

/*contacto*/
.seccion1B{
    color: black;
    font-size: 1em;
    letter-spacing: 1px;
    font-style: normal;
    text-align: left ;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 20px;
}