@import "../base/extends";
@import "../base/listas";
@import "../base/variables";

/*elemento universal*/

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/*estilo Body*/
body{
    font-family:'Work Sans', sans-serif;
    font-display: swap;
    background-image: url('../../scr/multimedia/fotos/lamparasFondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*inicio de header*/

header{ 
    nav{
        ul{
            li{
                list-style: none;
                a{
                    @extend %mensaje;
                    text-decoration: none;

                    &:hover{
                        background-color: rgb(247, 100, 16);
                        padding: 3px;
                        color: $colorGeneral;
                    }
                    &:active{
                        background-color: tomato;
                        
                    }
                }
            } 
        } 
    }
}




