@import "../base/extends";
@import "../base/listas";
@import "../base/variables";

/*elemento universal*/

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    
}

/*estilo Body*/
body{
    font-family:'Work Sans', sans-serif;
    font-display: swap;
    background-image: url('../scr/multimedia/fotos/fondo-enchufe.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*inicio de header*/
